.nav {
  grid-area: n;
  background-color: #68bd68;
  display: flex;
  flex-direction: column;
  padding: 30px 15px 0 35px;
  font-size: 30px;

}
.nav__link {
  color: blue;
}
.nav__link.active {
  color: red ;
}

.nav__work {
  color: red;
}